body {
    background-color: rgb(2, 4, 10);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(219, 105, 245);
    margin: 16px;
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
iframe {
    width: auto;
    height: auto;
}
#PI {
    display: inline-flex;
    font-family: Times, serif;
    font-size: 60px;
    width: 48px;
    height: 58px;
    padding: 8px;
    margin: 8px;
    margin-left: 16px;
    border-radius: 4px;
    border: 1px solid rgb(133, 133, 133) ;
    box-shadow: 5px 6px 0px rgb(65, 65, 65);
}
p, ol, ul {
    color: #b1ceef;
    margin: 16px;
    line-height: 2;
}
select {
    color: #b1ceef;
    margin: 16px;
    background-color: #2b3037;
    border: 0px;
    font-size: 16px;
    width: 90%;
    text-overflow: ellipsis;
}
#copy_right {
    color: rgb(169, 169, 169);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
a {
    color: rgb(80, 179, 250);
    text-decoration: none;
}
.water_mark {
    margin-left: 60%;
    padding: 2px;
}
hr {
    border-color: #3d444d;
    background-color: #3d444d;
}
#content {
    background-color: #151b23;
    max-width: 1200px;
    width: 100%;
    border: #3d444d solid 1px;
    margin-left: 50%;
    transform: translate(-50%, -6px);
    
}
#title_grid {
    display: flexbox;
    display: grid;
    grid-template-columns: 1fr 12fr;
    
}
.algorithm_categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
}
.algorithm_links {
    margin: 8px;
    margin-bottom: 16px;
    margin-left: 30%;
    font-family: monospace;
    font-weight: 600;
    font-size: 16px;
    word-wrap: break-word;
}
.link_bubble {
    background-color: #2b3037;
    border-radius: 8px;
    margin: 16px;
    padding: 4px;
}
.link_bubble:hover {
    background-color: #23272d;
}
.click_to_copy {
    background-color: #23282f;
    border-radius: 8px;
    margin: 16px;
    padding: 4px;
    word-wrap: normal;
}
.click_to_copy:hover {
    background-color: #0b0c0d;
}
#program_box {
    margin: 16px;
    max-width: 500px;
    border: #b1ceef solid 2px;
    border-radius: 8px;
    user-select: none;
    -moz-user-select: none;
}